body {
  padding-top: 50px;
}

.no_fluid {
    width: auto;
}

label { 
    width: 90px;
}

ul.errorlist {
        margin: 0 0 0 4px;
        padding: 0;
        display: inline;
}

.errorlist li {
        background-color: red;
        color: white;
        font-weight:bold;
        display: inline;
        padding: 4px 5px;
        border-radius: 4px;
}

.helptext {
    color: #aaa
}

.big_font {
    font-size: 120%;
}

