{% if is_paginated %}
       
        <div class="pagination">
        <div>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</div>
            <ul>
                {% if page_obj.has_previous %}
                    <li><a href="{% url 'expense_category_list' %}?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                {% else %}
                    <li class="disabled"><a href="#">&laquo;</a></li>
                {% endif %}
              
                {% for p in paginator.page_range  %}
                    {% ifequal p page_obj.number %}
                        <li class="active"><a href="#">{{ p }}</a></li>
                    {% else %}
                        <li><a href="{% url 'expense_category_list' %}?page={{ p }}">{{ p }}</a></li>
                    {% endifequal %}
                {% endfor %}
                    
                {% if page_obj.has_next %}
                    <li><a href="{% url 'expense_category_list' %}?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                {% else %}
                    <li class="disabled"><a href="#">&raquo;</a></li>
                {% endif %}
            </ul>
        </div>
{% endif %}