{% extends "expenses/_base.html" %}

{% block title %}Expenses{% endblock title %}
{% block active_page %}expenses{% endblock active_page %}

{% block content %}
{% load static from staticfiles %}
<div ng-app="expenses" ng-controller="ExpensesCtrl">
<form action="{% url 'expense_list' %}" method="post" > 
{% csrf_token %}
    
<div>
    <div class="row">
        <div class="col-xs-3">Description</div>
        <div class="col-xs-2">Amount</div>
        <div class="col-xs-2">Date</div>
        <div class="col-xs-2">Category</div>
        <div class="col-xs-2"></div>
    </div>
    
    <div class="row">
            <div class="col-xs-3">{{ form.description }}{{ form.description.errors }}</div>
            <div class="col-xs-2">{{ form.amount }}{{ form.amount.errors }}</div> 
            <div class="col-xs-2">{{ form.date }}{{ form.date.errors }}</div>
            <div class="col-xs-2">{{ form.category }}{{ form.category.errors }}</div>
            <div class="col-xs-2"><input class="btn btn-primary" type="submit" name="submit" id="submit" value="add new" /></div>
    </div>
    
    <div infinite-scroll="loadExpenses()">
        <div class="row" ng-repeat="object in expenses" >
            <div class="col-xs-3"><a href="{% url 'expense_update_dummy'%}/{[{object.pk}]}"> {[{object.description}]}</a></div>
            <div class="col-xs-2"><strong>{[{object.amount | number:2}]}</strong></div>    
            <div class="col-xs-2">{[{object.date | date}]}</div>
            <div class="col-xs-2"><span style="background-color: #{[{ object.category_color }]};">&nbsp;&nbsp;&nbsp;&nbsp;</span> {[{ object.category_description }]}</div>
            <div class="col-xs-2">
                <a title="edit" class="btn btn-small" href="{% url 'expense_update_dummy' %}/{[{object.pk}]}"><i class="glyphicon glyphicon-edit"></i></a>
                <a title="delete" class="btn btn-small" href="{% url 'expense_delete_dummy' %}/{[{object.pk}]}"><i class="glyphicon glyphicon-remove"></i></a>
            </div>
        </div>
    </div>
</div>
<input ng-click="loadExpenses()" ng-show="more_available == true && loading == false" class="btn" type="button" value="load more" />
<div ng-show="loading"><img src='{% static "expenses/img/ajax-loader.gif" %}' /> loading...</div>
<div ng-show="more_available == false">at the end</div>
</form>
</div>
{% include "expenses/_paginator.html" %}


{% endblock content %}

{% block extra_script %}{% include "expenses/_handle_form_errors.html" %}
<script type="text/javascript" src='{% static "expenses/js/lib/angular.min.js" %}'></script>
<script type="text/javascript" src='{% static "expenses/js/lib/angular-resource.min.js" %}'></script>
<script type="text/javascript" src='{% static "expenses/js/lib/ng-infinite-scroll.min.js" %}'></script>
<script type="text/javascript" src='{% static "expenses/js/app.js" %}'></script>
<script type="text/javascript">
function ExpensesCtrl ($scope, $http) {

    $scope.page = 1;
    $scope.expenses = [];
    $scope.more_available = true;
    $scope.loading = false;

    $scope.loadExpenses = function () {
    
        if ($scope.loading || !$scope.more_available) {
            return false;
        }
        
        $scope.loading = true;
        $http.get('{% url 'expense_list_json' %}?page='+$scope.page).then(function(response) {
        
            for (var i = 0; i < response.data.items.length; i++) 
                $scope.expenses.push(response.data.items[i]);
            
            if (response.data.total > $scope.expenses.length)
                $scope.page++;
            else
                $scope.more_available = false;
                
            $scope.loading = false;
                
        });
        
        return false;
    }

    $scope.loadExpenses();
}
</script>
{% endblock extra_script %}