{% extends "expenses/_base.html" %}

{% block title %}Categories{% endblock title %}
{% block active_page %}categories{% endblock active_page %}

{% block content %}
<a class="btn btn-primary" href="{% url 'expense_category_create' %}">add new</a>

<table class="table table-striped table-hover no_fluid">
    <thead>
        <tr>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for object in object_list %}
        <tr>
            <td><span style="background-color: #{{ object.color }};">&nbsp;&nbsp;&nbsp;&nbsp;</span> <a href="{% url 'expense_category_update' object.pk %}">{{ object.description }}</a></td>
            <td>
                <a title="edit" class="btn btn-small" href="{% url 'expense_category_update' object.pk %}"><i class="icon-edit"></i></a>
                <a title="delete" class="btn btn-small" href="{% url 'expense_category_delete' object.pk %}"><i class="icon-remove"></i></a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% include "expenses/_paginator.html" %}

{% endblock content %}