{% extends "expenses/_base.html" %}

{% block title %}Categories{% endblock title %}
{% block active_page %}categories{% endblock active_page %}

{% block content %}
<a class="btn" href="{% url 'expense_category_create' %}"><i class="icon-plus-sign"></i> add new</a>

<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for object in object_list %}
        <tr>
            <th>{{ object.pk }}</th>
            <td><span style="background-color: #{{ object.color }};">&nbsp;&nbsp;&nbsp;&nbsp;</span> <a href="{% url 'expense_category_update' object.pk %}">{{ object.description }}</a></td>
            <td>
                <a  class="btn btn-small" href="{% url 'expense_category_update' object.pk %}"><i class="icon-edit"></i> edit</a>
                <a  class="btn btn-small" href="{% url 'expense_category_delete' object.pk %}"><i class="icon-remove"></i> delete</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% include "expenses/_paginator.html" %}

{% endblock content %}