{% extends "expenses/_base.html" %}

{% block title %}Expense stats{% endblock title %}
{% block active_page %}stats{% endblock active_page %}

{% block content %}
<h3>From {{ report.from_date }} to {{ report.to_date }}</h3>

<ul class="nav nav-list">
        {% for object in report.expenses_grouped %}
        <li>
            <span style="background-color: #{{ object.expenseCategory.color }};">&nbsp;&nbsp;&nbsp;&nbsp;</span> 
            <strong>{{ object.expenseCategory }}:</strong> {{ object.total | floatformat:2 }} 
        </li>
        {% endfor %}
        <li class="divider"></li>
</ul>
<div class="alert alert-success">
    <p><strong>Total:</strong> <span class="big_font">{{ report.total | floatformat:2 }}</span></p>
    <p><strong>Month average:</strong> <span class="big_font">{{ report.total_per_month | floatformat:2 }}</span></p>
</div> 
{% endblock content %}